.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 68.75%;
  gap: 21px 17px;
  border-radius: 10px;
  margin: 0 auto 68px auto;
}

@media screen and (max-width: 321px) {
  .gallery {
    width: 88.125%;
  }
}
